* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(36, 100%, 99%);
}

/* HEADER */
.nav-link {
    color: hsl(236, 13%, 42%);
}

.nav-link:hover {
    color: hsl(5, 85%, 63%);
}

/* MAIN CONTAINER */
/* Left side of the Grid */
/* .main-container {
    border: 1px solid red;
} */

h1 {
    font-weight: 800;
}

p {
    font-size: 0.8rem;
    color: hsl(236, 13%, 42%);
}

button {
    border: none;
    background-color: hsl(5, 85%, 63%);
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

button:hover {
    background-color: hsl(240, 100%, 5%);
}

/* Right side of the Grid */
.right-container {
    /* border: 1px solid orange; */
    background-color: hsl(240, 100%, 5%);
    padding: 22px;
}

.right-container > h2 {
    font-weight: 700;
    color: hsl(35, 77%, 62%);
}

.right-container > a {
    text-decoration: none;
}

.right-container > a > h6 {
    color: white;
    font-weight: 700;
}

.right-container > a > h6:hover {
    color: hsl(35, 77%, 62%);
}

.right-container > p {
    color: hsl(233, 8%, 79%);
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

/* BOTTOM CONTAINER */
.other-news {
    margin-top: 80px;
}
.topic-images {
    width: 100px;
    height: 120px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content > h3 {
    color: hsl(233, 8%, 79%);
    font-weight: 700;
}   

.content > h6 {
    font-weight: 800;
}  

.content > h6:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}  

.content > p {
    color: hsl(236, 13%, 42%);
}

/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
